{% extends 'Employeeprofile/employee_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<table class = 'table'>
{% for candidate in object_list %}
<tr>
    <td>{{candidate.userid}}</td>
    <td>{{candidate.first_name}}</td>
    <td>{{candidate.last_name}}</td>
    <td>{{candidate.phone}}</td>
    <td>{{candidate.email}}</td>
    <td>{{candidate.experience}}</td>
    <td>{{candidate.notice_period}}</td>
    <td>{{candidate.skill}}</td>
    <td>{{candidate.source}}</td>

{% empty %}
    <li>No candidate yet.</li>
</tr>
{% endfor %}
</table>

{% endblock content %}
